.button {
    width: 100px;
    height: 20px;
    background-color: rgb(80, 80, 243);
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
}

.green {
    color: green;
}

.red {
    color: red;
}

input {
    border: 2px dotted rgb(180, 3, 3);
}